*{
  background: black;
}

h3{
  color:white;
}

.img1{
  width: 200px;
  height: 200px;
  z-index: 20;
  opacity:.7;
}

.img{
  width: 210px;
  height: 210px;
  padding:15px;
  margin: 25px;
  display:inline-block;
  z-index: 15;
  border: 10px solid red;
}

.infoBAsica{
  width: 500px;
  height: 250px;
  padding:50px;
  display:inline-block;
  color:white;
}

.subtitulos{
    width: 100px;
    height:auto;
    color:white;
    background: red;
    display:inline-block;
    margin-left: 125px;
    padding: 15px 100px;
}
.cerrar {
  width:15px;
  height:15px;
  color:white;
border: 1px solid white;
  padding: 5px;
  font-size: 15px;
  position:relative;
  left:178px;
  bottom:204px;
  z-index: 30;
}

section{
  display:block;
  margin-top:20px;
}
